<?xml version="1.0" encoding="windows-1250"?>
<configuration>
    <plugins>
        <plugin id="{9315b740-c813-11dc-95ff-0800200c9a66}">
          <name>Settings Plugin</name>
       	  <configs>
	    <config type='module'>/modules/jig_b2yy_eatc.xml</config>
	  </configs>
        </plugin>
    </plugins>
</configuration>
